html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}
body{
    background-color: #e4e1df ;
}


header{
    background-color: #e2702d;
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent
}
header h1{
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    color: #1e1a22;
}


.menu{
    display: block;
    text-align: center;
    border-top: white 2px solid;
}
.menu>li{
    display: inline-block; 
}
.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
    position: relative;
    color: white;
}
.menu li:hover{
    background: rgba(255, 255, 255, 0.3);
}

.menu li:hover>.submenu{
    display: block;
}
.submenu{
    top: 100%;
    position: absolute;
    display: none;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: #33435f;
    border-radius: 2px;
    z-index: 1;
}
.submenu>li>.submenu{
    left: 100%;
    top: 0%;
}

main{
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 2px;
    background-color:white;
    min-height: calc(100vh - 200px);
}
footer{
    height: 100px;
    width: 100%;
    background-color: #1e1a22;
    color: white;
}
footer>p{
    padding: 15px;
}

.shadow{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.row>*{
    align-content: center;
    display: inline-block;
}
.center{
    width: max-content;
    margin: 0 auto;
}