html, body{
    margin: 0;
    padding: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
    min-height: 100%;
}
:root{
    --firs-color: #e77f3c;
    --second-color: #e5d0bc;
    --accent: #53819f;
    --dark: #1a1d25;
}

body{
    background-color: var(--second-color) ;
}


header{
    background-color: var(--firs-color);
    display: block;
    margin: 0;
    padding: 0;
    border-top: 1px solid transparent
}
header h1{
    text-transform: uppercase;
    letter-spacing: 0.5em;
    text-align: center;
    color: var(--dark);
}


.menu{
    display: block;
    text-align: center;
    border-top: white 2px solid;
}
.menu a{
    text-decoration: none;
    color: inherit;
}
.menu>li{
    display: inline-block;
    font-weight: bold;
}
.menu, .submenu{
    list-style: none;
    padding: 0;
    margin: 0;
}
.menu li{
    width: 200px;
    height: 50px;
    align-content: center;
    text-align: center;
    position: relative;
    color: white;
    transition: all .3s;
}
.menu li:hover{
    background: rgba(255, 255, 255, 0.3);
}

.menu li:hover>.submenu{
    transform: scaleY(1);
    transition: transform ease-out .2s;
}
.submenu{
    top: 100%;
    position: absolute;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    background-color: var(--accent);
    border-radius: 2px;
    z-index: 1;
    transform: scaleY(0);
    transform-origin: top;
    font-weight: normal;
}
.submenu>li>.submenu{
    left: 100%;
    top: 0%;
}

main{
    width: 80%;
    margin: 15px auto;
    padding: 15px;
    border-radius: 2px;
    background-color:white;
    min-height: calc(100vh - 200px);
}
footer{
    height: 100px;
    width: 100%;
    background-color: var(--dark);
    color: white;
}
footer>p{
    padding: 15px;
}

.shadow{
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
}
.row>*{
    align-content: center;
    display: inline-block;
}
.center{
    width: max-content;
    margin: 0 auto;
}
.avatar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    float: left;
    margin: 0 10px;
    border: 2px solid var(--dark);
}