{% extends "wrapper.html" %}
{% block head %}
<link rel="stylesheet" href="{{ url_for('static', filename='CSS/forms.css') }}">
{% endblock %}

{% block title %}{% if article %}Редактирование{% else %}Создание записки{% endif %}{% endblock %}

{% block content %}
<h2 class="title text-center">
    {% if article %}Редактирование заметки{% else %}Новая заметка{% endif %}
</h2>
<div class="strip my-standart"></div>

<form method="post" class="center">
    <input type="text" name="title" class="center" placeholder="Заглавие"
           value="{{ form.title if form else (article.title if article else '') }}"
           required autofocus>

    <textarea name="text"
              placeholder="Текст заметки"
              required>{{ form.text if form else (article.text if article else '') }}</textarea>

    <input type="submit"
           value="{% if article %}Сохранить{% else %}Подтвердить{% endif %}">

    <input type="text" name="datetime" id="dt" hidden>
</form>

<div class="strip strip-right my-standart"></div>

<script>
    function localTs() {
        const d = new Date();
        return Math.floor(Date.UTC(
            d.getFullYear(),
            d.getMonth(),
            d.getDate(),
            d.getHours(),
            d.getMinutes(),
            d.getSeconds()
        ) / 1000);
    }
    document.getElementById('dt').value = localTs();
</script>
{% endblock %}